//Colors
$main-dark: #0f0f0f;
$main-white: #e7f6f2;
$secondary-color: #393646;
$red: #750e21;
$blue: #1b1a55;
$green: #27391c;
$grey: #787a91;

//Layout partials
$sidebar-width: 20%;
$content-width: 80%;

//Transition
$transition-slow-m: 0.75s ease-in-out;
$transition-slow: 0.5s ease-in-out;
$transition-fast: 0.25s ease-in-out;

//Spacing
$space-xs: 4px;
$space-s: 10px;
$space-m: 20px;
$space-l: 40px;
$space-xl: 80px;
$space-xxl: 120px;

//Border radius
$round-xs: 4px;
$round-s: 8px;
$round-m: 20px;
$rounded: 50%;

//Text size
$text-s: 12px;
$text-sm: 18px;
$text-m: 24px;
$text-l: 32px;
$text-lm: 40px;
$text-xl: 48px;

//Fonts
$Inter: "Inter", sans-serif;
$Monomakh: "Monomakh", system-ui;
$Tagesschrift: "Tagesschrift", system-ui;

//Box-shadow
$shadow-touch: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$shadow-soft: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
