.app-wrapper {
  padding-top: $space-l;
  main {
    position: absolute;
    right: 0;
    width: $content-width;
    padding-bottom: $space-l;
  }

  .content-wrapper {
    padding: 0 $space-l;
  }
}
