aside {
  height: 100vh;
  position: fixed;
  left: 0;
  width: $sidebar-width;
  border-right: 1px solid $secondary-color;
  .sidebar-wrapper {
    display: flex;
    flex-direction: column;
    height: 60%;
  }
  .sidebar-item {
    padding: $space-m;
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: $space-s;
    transition: $transition-fast;
    &:hover {
      background-color: $secondary-color;
      color: $main-white;
    }
    &.active {
      background-color: $grey;
      font-weight: 500;
    }
    svg {
      font-size: $text-m;
    }
    span {
      font-size: $text-m;
      text-transform: capitalize;
    }
  }
}
