.input {
  padding: $space-s $space-m;
  background-color: inherit;
  color: inherit;
  &::placeholder {
    background-color: inherit;
    color: inherit;
  }
  border-radius: $round-xs;
  @include font($text-sm, 500);
}
