@import "../../components/Factory/FactoryCard/factory-card.scss";
.factory-container {
  @include gridBy3part();
  gap: $space-m;
}
.factory-detail-container {
  .factory-history-back-icon {
    width: fit-content;
    padding: $space-s $space-m;
    border-radius: $round-m;
    border: 1px solid $secondary-color;
    @include flexCenter();
    margin-bottom: $space-l;
    cursor: pointer;
    transition: $transition-fast;
    &:hover {
      background-color: $grey;
    }
  }
}
